input {
    border-radius: 10px;
    padding: 5px 20px ;
    margin: 15px 20px;
    border: 1px solid black;
    transition: all 100ms ease-in-out;
}

input:hover{
    background-color: #eee;
    transform: scale(1.1);
}

input:active{
    transform: scale(0.9);
}